a{
    color:#6C757D
}

.input{
    background-color: #FDD70A;
    
}
.header{
    border-bottom:solid;
    border-color: #FDD70A;
    border-radius: 2px;
    margin-bottom: 15px;
}

.btn{
    background-color: black;
    display:inline-block;
    width: 446px;
    color: white; 
}
.btn:hover{
    background-color: #6C757D;
    
}

.extras{
    margin-top: 10px;
}

.form-control{
    background-color:#FDD70A;
}

.phone{
    margin-bottom: 20px;
}

.form {
    /* padding: 1rem; */
    border-radius: 0px;
    border-color: grey;
    background-color: white;
    /* margin: 100px 500px; */
    width: 400px;
    display: inline-block;
    margin-top: 30px;
    
  }
.login{
    position: relative;
}
 
  

 
  
  